<?xml version="1.0"?>
<config>
    <modules>
        <Narfstudios_CustomerLoyalty>
            <version>0.1.0</version>
        </Narfstudios_CustomerLoyalty>
    </modules>
	<global> 
        <helpers>
            <customerloyalty>
                <class>Narfstudios_CustomerLoyalty_Helper</class>
            </customerloyalty>
            <checkout>
            	<rewrite>
            		<data>Narfstudios_CustomerLoyalty_Helper_Data</data>
            	</rewrite>
            </checkout>
        </helpers>
    </global>
    <adminhtml>
        <translate>
            <modules>
                <Narfstudios_CustomerLoyalty>
                    <files>
                        <default>Narfstudios_CustomerLoyalty.csv</default>
                    </files>
                </Narfstudios_CustomerLoyalty>
            </modules>
        </translate>
    </adminhtml>  
	<frontend>
	    <routers>
	        <CustomerLoyalty>
	            <use>standard</use>
	            <args>
	                <module>Narfstudios_CustomerLoyalty</module>
	                <frontName>customerloyalty</frontName>
	            </args>
	        </CustomerLoyalty>
	    </routers>
	</frontend>
</config>